/*
 * Start Bootstrap - Full (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    margin-top: 180px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    letter-spacing: 2px;
    background-color: #f4f8fe;
    font-family: 
    
}

li {color: #595959;}

.header {width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0683c9;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    }

.header > .navbar-default {background-color:#f4f8fe;}

.navbar-nav li a {letter-spacing: -.7px;}
.navbar-default .navbar-brand {color: white; letter-spacing: 0.2px;}

.navbar-brand > p {font-weight: 500; font-size: 4rem; color: #004e90; text-shadow: none;}
.navbar-brand span {    font-size: 1.82rem;
    display: block;
    margin-top: -12px;
    margin-left: 45px;
    letter-spacing: .3rem;}

.fullcolumn {}
.fullcolumn img {margin: auto; display: block;}

.col-centered{
    float: none;
    margin: 0 auto;
}
/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url() no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #f4f8fe;
}

.front-background { 
	background: url('../img/nanyang-background.jpg') no-repeat;     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
     padding-left: 0px; padding-right: 0px;
     transition: background-size 0.5s ease;
     background-position: 50% 50%;
     background-size: 100% }
.front-background h1 {color: white; padding:6px; margin-top:10px; text-align: center; text-shadow: 1px 1px 1px black; 
	font-size: 3rem; }
 .front-background:hover {    background-size: 110%;}

.textdec-none:hover
{text-decoration: none;}
.textdec-none:focus
{text-decoration: none;}

.box1text {padding-top: 355px; padding-bottom: 0px;}
.box1text a {text-decoration: none;}
.box1background {background-color: transparent;  overflow: hidden; width: 36rem; margin: 0 auto;}
.box1background h4 {text-align: center; }

.blue-background {background: linear-gradient(to right, rgb(64, 113, 136), rgb(7, 95, 121)) no-repeat;     transition: background-size 0.5s ease;
    background-size: cover; position: relative; padding: 25px;}
.blue-background h3, p {color: white; font-weight: 100; text-shadow: 2px 2px 2px black;}
.blue-background h3 {margin-top: 0px;}
.blue-background p {font-size: 17px; font-family: 'helvetica';}

.blue-background1 {background: linear-gradient(to right, rgb(92, 111, 254), rgb(105, 162, 165)) no-repeat;     transition: background-size 0.5s ease;
    background-size: cover; position: relative; padding: 25px; flex: 1;}
.blue-background1 h3, p {color: white; font-weight: 100; text-shadow: 1px 1px 2px black;}
.blue-background1 h3 {margin-top: 0px;}
.blue-background1 p {font-size: 17px; font-family: 'helvetica';}
.blue-background1 a {color: #004e90;}

.blue-background2 {    background: #01498c;
    background: -webkit-linear-gradient(left,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: -o-linear-gradient(right,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: -moz-linear-gradient(right,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: linear-gradient(to right, rgb(75, 151, 224), rgb(110, 93, 64));
    transition: background-size 0.5s ease;
    background-size: 100%; position: relative; padding: 25px;}
.blue-background2 h3, p {color: white; font-weight: 100; text-shadow: 1px 1px 1px black;}
.blue-background2 h3 {margin-top: 0px;}
.blue-background2 p {font-size: 17px; font-family: 'helvetica';}
.blue-background2 p > span {color: #004e90;}

.sponsor-background {background: url('../img/sponsorshowcase1.jpg') no-repeat; transition: background-size 0.5s ease;
     position: relative; padding: 25px; flex: 1; background-size: cover;}
.sponsor-background h2, p {color: white; font-weight: 100; }
.sponsor-background h2 {margin-top: 0px; padding-bottom: 20px; text-shadow: 1px 1px 1px black;}
.sponsor-background p {font-size: 17px; font-family: 'helvetica';}

.about-background {background: #004e90b3 no-repeat; background-size: cover;    transition: background-size 0.5s ease;
     position: relative; padding: 25px;}
.about-background h3, p {color: #d6d6d6; font-weight: 100; text-shadow: 1px 1px 1px black;}
.about-background h3 {margin-top: 0px; color: #004e90;}
.about-background p > span {color: #004e90;}
.about-background p {font-size: 17px; font-family: 'helvetica';}


@media (min-width: 1200px) {
    .reg-header {padding-bottom: 30px; height: 333px;}
    .agenda-header {padding-bottom: 30px; height: 333px;}
    .reg-image {background: url('../img/register-image.jpg'); background-size: cover;}
    .agenda-image {background: url('../img/agenda-image.jpg'); background-size: cover;}
    .why-image {background: url('../img/about-img.jpg'); background-size: cover;}
    .first-img {background: url('../img/sf16eu.jpg'); background-size: cover;}
    .reg-header-background{ padding: 60px; }
    .agenda-header-background{ padding: 60px; }
    .campus-map img {margin-top: 10px;}
    .about-gallery > img {margin:0 auto;}
    }

@media (max-width: 1199px) {
	 /*.blue-background1 {left: 50%; position: absolute;} */

     .about-gallery {text-align: center;}
     .about-gallery img {margin: 0 auto; display: grid; padding: 5px;}
     .sponsors-page .col-lg-6 {padding-right: 0px !important;}
     .reg-image {display: none;}
     .reg-header-background {text-align: center; padding: 20px;}
     .agenda-image {display: none;}
     .why-image {display: none;}
      .first-img {display: none;}
     .agenda-header-background {text-align: center; padding: 20px;}
     .campus-map img {margin-top: -5px;}
     .first-background {height: 100% !important;}
}

@media (min-width: 992px ) {
    .sponsor-background {padding-bottom: 20rem;}
}

@media (max-width: 960px) {
  .about-header {height: 300px !important;}
}

@media (min-width: 984px ) 
{
  .shrink > .navbar >.container > .navbar-header {margin-top: 14px ;}
}

@media (max-width: 983px ){
	.front-background {background-size: cover;}
	.front-background:hover {background-size: cover;}
    body {margin-top: 80px;}
    .navbar {min-height: 80px;}
    .navbar-brand {font-size: 30px;}
    .header-logo {    width: 22px !important;
                      margin-top: 8px !important;
                      margin-right: 3px !important;}
    .front-background h1 {font-size: 35px;}
    .navbar-brand {margin-top: 14px;}
    .navbar-brand > .header-logo {width: 28px;
    margin-top: -6px;
    margin-right: 3px;}
    .navbar-brand > p {font-size: 2.5rem;}
    .navbar-brand span {margin-top: -7px;
                        margin-left: 27px;
                        letter-spacing: 0.13rem; font-size: 1.3rem;}
}

@media (max-width: 868px ){
    .blue-background {background-size: cover;}
    .blue-background1 {background-size: cover;}
    .blue-background2 {background-size: cover;}
    .blue-background h3 {font-size: 19px;}
    .blue-background1 h3 {font-size: 19px;}
    .blue-background2 h3 {font-size: 19px;}
    .about-background h3 {font-size: 19px;}

    .blue-background p {font-size: 14px;}
    .about-background p {font-size: 14px;}
    .blue-background1 p {font-size: 14px;}
    .blue-background2 p {font-size: 14px;}
    .sponsor-background h2 {font-size: 20px;}
}

@media only screen (min-width: 768px) {
	.grid-container {width: 100% !important;}
    .shrink .navbar-brand {margin-top: 20px;}
    .shrunk .navbar-brand {margin-top: 20px;}


}

.header-logo {width: 36px; display: initial !important; margin-top: -9px; margin-right: 5px;
              -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}

@media (max-width: 767px) {
	.container {margin: auto; width: 96%;}
	.grid-container {padding: 0px;}
    .navbar-brand {margin-top: 0px;}
    .post-media a > img {max-width: 300px; text-align: center; margin: 0 auto; display: flex; border-radius: 5px;}
    .shrink .navbar-brand {margin-top: 4px;} 
    .shrunk .navbar-brand {margin-top: 4px;} 
    #ninety-nine-width {width: 92%;}
  .navbar-brand {margin-top: 5px;}
  .navbar-toggle {margin-right: 5px;}
  .grid-row {padding-bottom: 0px !important;}
  .thumbnail .btn-primary {padding: 10px !important;}
  .thumbnail p {margin: 0px auto; text-shadow: none !important;}
  .thumbnail {text-align: center;}
  .thumbnail ol {list-style-type: none !important; padding-left: 0px !important;}
}

@media (max-width: 661px) {
  .campus-map img {margin-top: 5px;}
  }

@media (max-width: 555px) {
   .textdec-none p {display: none;}
   .about-background p {display: none;}
   .blue-background1 p {display: none;}
   .blue-background h3 {font-size: 15px; word-wrap: break-word;}
   .blue-background1 h3 {font-size: 15px; word-wrap: break-word;}
   .blue-background2 h3 {font-size: 15px; word-wrap: break-word;}
   .about-background h3 {font-size: 15px;}
   .btn-primary {letter-spacing: 0px !important; padding: 4px;}
   .about-header {height: 200px !important;}
   .schedule > li > a > h4 {font-size: 12px;}
     .img-fluid2 {height: 60px; width: 120px;}
    .why-list li {font-size: 1.35rem;}
    .first-list li {font-size: 1.15rem;}
   .why-reasons {padding-bottom: 10rem !important;}
   .first-reasons {    padding: .5rem !important; }
   .first-reason-text {padding: 1rem !important; left: 7rem !important; top: .1rem !important;}
    .reasons-spacing {padding-bottom: 15rem;}
}

@media (max-width: 501px) {
	.about-background {background-size: cover;}
	.sponsor-background {background-size: cover;}

	.blue-background1 {background-size: cover;}
	.blue-background {background-size: cover; padding: 17px}
  .blue-background2 {background-size: cover;}
  .thead-default th {font-size: 14px; text-transform: none; padding: 3px !important;}
  .thead-default span {display: none;}
  .reg-table {display: grid !important; justify-content: center;}
  .reg-table > .table-striped {display: -webkit-inline-box;}
  .reg-table > .table-striped > tbody {display: table-cell;}
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding: 1px;}
  .reg-header-background h2 {font-size: 30px !important;}
  .reg-header-background > h2 > p {font-size: 15px !important;}
  .agenda-header-background h2 {font-size: 30px !important;}
  .agenda-header-background > h2 > p {font-size: 15px !important;}
  h1 {font-size: 32px;}
  .schedule > li > a {padding: 5px;}
  .schedule span {display: none !important;}
  .table-responsive>.table>tbody>tr>th>h4 {font-size: 1.2rem;}
  .table-responsive>.table>tbody>tr>th:first-child {font-size: 1rem; padding:3px;}
  .table-responsive>.table>tbody>tr>th>p {font-size: 1.1rem;}


} 

@media (max-width: 425px) {
   .reasons-spacing {padding-bottom: 28rem;}
}


.grid-row {padding-bottom: 60px;}

.no-padding {padding: 0px; display: flex; width: 100%;}

.btn-primary{letter-spacing: 1px; 
    white-space: inherit;}

.lb-outerContainer {display:;}

/* FOOTER CSS */
.footer {background-color: #f4f8fe;}

.footer-social {
    display: flex; justify-content: center; padding-left: 0px; padding-top: 30px; padding-bottom: 30px; margin-bottom: 0px;
}
.footer-social img {width: 50px;}

.footer p {text-align: center; font-size: 16px; padding-bottom: 10px; }
.footer a {color: #004e90; text-shadow: none; font-weight: 100;}
.footer a:hover {color: #68ccff; text-decoration: none;}

/* ABOUT CSS */


.about-text {}
.about-text p{text-shadow: none; color: #595959; letter-spacing: 0px; font-size: 16px; font-family: "Helvetica";}
.about-text h2:first-child {margin-top: 0px;}

.about-gallery {padding-bottom: 30px; margin-top: 40px; display: contents; }
.about-gallery img { border-radius: 25px; padding: 2rem;max-width: 300px;}

.about-header {padding-right: 0px; padding-left: 0px; padding-bottom: 30px; height: 350px;}
.about-image {background: url('../img/campus-map.jpg'); background-size: cover; }

/* SPONSORS PAGE CSS */
.sponsors-background {background: url('/img/sponsors/sponsors-background.jpg');}

.sponsors-page h1,h2,h3,h4,h5,h6 {color: #595959;}
.sponsors-page p {color: #595959; text-shadow: none !important; letter-spacing: 0px; font-size: 16px; font-family: 'Helvetica'; padding-top: 10px;}
.sponsors-page .col-lg-6:last-child {padding-bottom: 20px;}
.sponsors-page img {width: 300px; padding-bottom: 2rem; padding-top: 2rem;}
.sponsors-page h2 {clear:both; padding-top: 20px;}
.sponsors-page h3 {letter-spacing: 1px;}
.sponsors-page .col-lg-12 {padding-left: 0px;}
.sponsors-page .col-lg-6 {padding-left: 0px; padding-right: 50px;}


.clear-both {clear: both;}

/* RETROSPECTIVE PAGE CSS */
.retrospective-page img {width: 100%; border-radius: 10px;}
.retrospective-page li {font-family: 'helvetica'; letter-spacing: 0.4px;}
.retrospective-page p {text-shadow: none !important; color: #595959; font-family: 'helvetica'; letter-spacing: 0px;}
.retrospective-page .col-sm-6 {padding: 25px;}
.retrospective-page btn {padding: 10px;}
.retrospective-page btn > a {color: white; font-family: 'helvetica';}
.retrospective-page h1,h2,h3,h4,h5,h6 {color: #595959;}

.post-footer {margin-top: 15px;}

.post-media {width: 100%;}
.post-media img {width: 100%; border-radius: 6px;}

.post-excerpt {padding-bottom: 35px;}

.sponsor-list img {max-width: 140px;}

/* Responsive iframe */
.responsive-iframe { 
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.responsive-iframe iframe {position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-iframe2 { 
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 35vh;
}

.responsive-iframe2 iframe {position: absolute;
  top:0;
  left: 0;
  padding: 1rem;
}

.shrink {height: 80px;}
.shrink .navbar {height: 80px; background-color: #f4f8fe;}
.shrink .navbar-brand p {font-size: 2.5rem;}
.shrink .navbar-brand span {font-size: 1.4rem; margin-top: -8px; margin-left: 26px; letter-spacing: .1rem;}
.shrink .header-logo {width: 22px; margin-top: 5px; margin-right: 3px;}
.shrink .front-background h1 {font-size: 35px;}
#bs-example-navbar-collapse-1 {background-color:#f4f8fe;}
#bs-example-navbar-collapse-1 > .navbar-nav > li > a {color: #004e90;}
#bs-example-navbar-collapse-1 > .navbar-nav > li > a:hover {color: #92c4f4;}

.shrunk {height: 80px;}
.shrunk .navbar {height: 80px; background-color: #f4f8fe;}
.shrunk .navbar-brand {font-size: 30px;}
.shrunk .header-logo {width: 28px; margin-top: -6px; margin-right: 3px;}
.shrunk .front-background h1 {font-size: 35px;}
#bs-example-navbar-collapse-1 {background-color:#f4f8fe;}

/* Registration Page CSS */
.reg-p p {color: black; text-shadow: none; letter-spacing: .5px; padding: 5px;}
.reg-p li {color:black;}

.smaller-body {margin-top: 80px;}

.thead-default {
    background: #f4f8fe !important;
    color: #595959;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    border: 1px solid #595959;
}
.thead-default > th {vertical-align: bottom !important; text-align: center;
}

.table {margin-bottom: 0px;}

.table > tbody > tr > td {
    font-family: 'helvetica'; letter-spacing: 0.5px; text-align: center;
}
.table > tbody > tr > th {
    font-family: 'helvetica'; letter-spacing: 0.5px;
}

.reg-header {padding-right: 0px; padding-left: 0px;}
.reg-header-background {background-color: rgb(241, 241, 241); height: 333px; color: white; display: flex;
  justify-content: center;
  align-items: center;}
.reg-header-background p {font-family: 'helvetica'; color: #595959; text-shadow: none; font-weight: 400;}
.reg-header-background h2 {font-size: 44px;}
.reg-header-background > h2 > p {font-size: 18px; padding-top: 17px; padding-bottom: 7px;}
.reg-table {padding-top: 20px; padding-bottom: 20px; display: flex;}

.img-fluid {height: auto; max-width: 100%;}

.reg-accordion {padding-bottom: 30px;}
.reg-accordion .card {margin-bottom: 0px;}
.reg-accordion .card-header{ background-color: #f4f8fe; padding: 3px; padding-left: 10px;}
.reg-accordion .card-header a{text-decoration: none; color: #595959; text-transform: uppercase; letter-spacing: 1px;}
.reg-accordion .card-header a:hover{color: #92c4f4;}
.reg-accordion .card-block {font-family: 'helvetica'; letter-spacing: .5px;}
.reg-accordion .table-striped th{font-weight: 100;}
.table-striped tr { background-color: #f1f1f1;}
.table-striped th {border-top: none !important;}
.reg-accordion .table-striped2 th{font-weight: 100;}
.reg-accordion .table-striped th:first-child{font-weight: 800; width: 20%;}

#collapseOne {word-break: break-word;}
#collapseThree {word-break: break-word;}

.card-block p {color: black; text-shadow: none;}

.cancel-table th {padding: 4px !important; text-align: center;}

.btn-xl {
    padding: 14px 12px;
    font-size: 26px;
    line-height: 1.3333333;
    border-radius: 6px
}

.td-centered {text-align: center;}

.reg-header-background form {display: inline-flex;}

.cancellation {text-align: left !important;}

/* SpeakApp CSS */
textarea {height: 180px; width: 80%;}

#form_923064 ul {padding: 0px;}

.speakapp {margin-top: 100px;}

#speakerList li {list-style: disc;}

#speakerLi input {width: 100%;}
#speakerLi span {color: red;}

.post-body p {font-family: 'helvetica'; color: #595959; letter-spacing: .5px; text-shadow: none;}
.post-body li {font-family: 'helvetica'; color: #595959; letter-spacing: .5px; list-style: none;}
.post-body input {color: black;}
.post-body textarea {color: black;}
.post-body select {color: black;}

/* Lodging Page CSS */
.lodging-p {color:#595959; font-family: 'helvetica'; text-shadow: none; letter-spacing: 0px; font-weight: 400;}

.clear-left {clear: left;}

.lodging .thumbnail {background-color: #f4f8fe;}

.thumbnail ol {padding-left: 20px;letter-spacing: 0px; list-style-type: disc;}
.thumbnail li {font-family: 'helvetica';}
.thumbnail p {padding-top: 10px;}
.thumbnail img {border-radius: 5px;}

.lodging h4 {color: #d6d6d6; font-size: 3.5rem;}
.lodging li {color: #d6d6d6; font-size: 1.6rem;}

.caption > ol > li:last-child {list-style-type: none;}

/*Agenda CSS*/
.table-responsive>.table>tbody>tr>th>h4 {white-space: normal;}
.table-responsive>.table>tbody>tr>th {white-space: nowrap;}

.nav-justified>li {display: table-cell; width: 1%;}
.nav-justified>li>a {margin-bottom: 0px;}

.show {opacity: 100;}

.schedule-lvl1 {}

.second-schedule {}
.second-schedule > li.active > a:focus {background-color: #337ab7;}
.second-schedule > li.active > a:hover {background-color: #337ab7;}
.second-schedule > .active > a > h4 {color: #8dc5f0;}
.second-schedule > li > a > h4:hover {color: #8dc5f0;}
.second-schedule > li > a > h4:focus {color: #8dc5f0;}
.second-schedule > li > a > h4:visited {color: #8dc5f0;}
.schedule > li {background: #f4f8fe;}
.schedule > li > a:focus {outline: none; background-color: #f4f8fe; }
.schedule > li > a:hover {outline: none; background-color: #f4f8fe; }
.schedule span {display: block; font-size: 1.4rem; line-height: 2.4rem;}
.schedule h4 {margin: .3rem; color: #2f2f2f;}

.lvl2 {margin-left: -15px; margin-right: -15px;}
.lvl2 .nav-pills> li.active> a{background-color: transparent;}


.no-border {border-top: none !important;}

.schedule-table > tbody > tr > th {vertical-align: middle;}
.schedule-table p {color: #595959; text-shadow: none;}
.schedule-table tr {color: #595959;}
.schedule-table img {padding: 2px; padding-top: 3px; padding-bottom: 3px; border-radius: 17px; background-color: white;}

.agenda-header {padding-right: 0px; padding-left: 0px;}
.agenda-header-background {background-color: rgb(241, 241, 241); height: 333px; color: white; display: flex;
  justify-content: center;
  align-items: center;}
.agenda-header-background p {font-family: 'helvetica'; }
.agenda-header-background h2 {font-size: 44px;}
.agenda-header-background > h2 > p {font-size: 18px; padding-top: 17px; padding-bottom: 7px; color: black;
text-shadow: none;}

.speakers-page img{
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    padding: 30px;
   }
.speakers-page p {font-family: 'helvetica';}

.speakers-page > .col-sm-3 {
    text-align: center;
}

/* COUNTDOWN CSS */

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto;
}

#clockdiv > div{
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    border-radius: 3px;
    display: inline-block;
}

.smalltext{
    font-size: 1.2rem;
}

/* CONFIRMATION CSS */
.about-text li {color: #595959; font-family: helvetica; letter-spacing: 0px; font-size: 16px; font-weight: 100;}


/* Why Attend CSS */
.why-attend p {font-family: 'helvetica'; letter-spacing: 0rem; font-size: 1.5rem; text-shadow: none; color: rgb(89, 89, 89);}

.why-body { padding: 3.2rem;}
.why-body button {border-radius: 1rem; border-radius: 1rem; width: 100%; border: 0px; padding: 10px; letter-spacing: 1px;
font-size: 2rem; color: #fff; background-color: #337ab7;
}
.why-body button:hover {color: #71b7ea;}
.why-body .card-block {font-family: 'helvetica'; letter-spacing: 0px;}

.why-tabs-background {padding: .8rem; background-color: #fff3;}

.why-list {display: inline-flex; margin-bottom: 0px; font-family: "Helvetica"; font-size: 18px; letter-spacing: 0px; padding:0px;}
.why-list li {padding: .8rem; color: white;}
.why-list > li > a {color: white;}
.why-list-div {display: flex;}

.why-alt-background-color {background: #354a63;}

.why-table {display: table;}
.round-background {width: 6rem; height: 6rem; background: #0009; border-radius: 100%; 
}
.round-background h2 {margin: 0; line-height: 6rem; color: white;
text-align: center;
}

.why-reasons {padding: 4rem;}
.why-reason-text {padding:1rem; position: absolute; left: 10rem; top: 2.7rem;
}

.orange-h2 {color: rgb(89, 89, 89); display: flow-root; text-align: center;}

/* First Time CSS */
  .first-attend p {font-family: 'helvetica'; letter-spacing: 0rem; font-size: 1.5rem; color: rgb(89, 89, 89); text-shadow: none;} 

.first-background > h1 {color: rgb(89, 89, 89); }

.first-body { padding: 3.2rem; padding-bottom: 5rem;}
.first-body button {border-radius: 1rem; border-radius: 1rem; width: 100%; border: 0px; padding: 10px; letter-spacing: 1px;
font-size: 2rem; color: #fff; background-color: #337ab7;
}
.first-body button:hover {color: #71b7ea;}
.first-body .card-block {font-family: 'helvetica'; letter-spacing: 0px;}

.first-reasons {padding: 6rem;}
.first-reason-text {padding:3rem; position: absolute; left: 10rem; top: 2.7rem;
}

.first-alt-background-color {background: #354a63;}

.first-table {display: table;}

.first-background {display: block !important;}

.first-list {display: inline-flex; margin-bottom: 0px; font-family: "Helvetica"; font-size: 18px; letter-spacing: 0px; padding:0px;}
.first-list li {padding: .8rem; color: white;}
.first-list > li > a {color: rgb(89, 89, 89);}

.first-tips-list {list-style-type: circle; font-family: 'helvetica'; letter-spacing: 0px; font-size: 1.6rem;}
.first-tips-list li {padding: .5rem;}

#faq {color: white;}

/* SharkByte CSS */

#contact-area h3 {margin-bottom: 25px;}

.margin-20px {margin-bottom: 20px;}

.sharkbyte-image {text-align: center;}

.sharkbytes h2 {padding: 5px;}
.sharkbytes p {color: #d6d6d6; text-shadow: none; font-family: 'helvetica'; padding: 5px;}
.sharkbytes li {color: #d6d6d6; text-shadow: none; font-family: 'helvetica';}

.sharkbytes .responsive-iframe:last-child {margin-bottom: 20px;}
.sharkbytes iframe {padding: 5px;}

.sharkbytes .blue-text-background {background-color: #124b77;}

.sharkbytes form {height: 60vh; color:#d6d6d6;}
.sharkbytes label {font-size: 16px;}
.sharkbytes input {width: 100%; color: black;}
.sharkbytes input:last-child {}
.sharkbytes .submit-button {color: black;}

.vh-100 {height: 70vh;}

.col-sm-9 > p {color: #565656; text-shadow: none; font-family: 'helvetica';}